@model PoliceSystem.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <p class="text-danger">@Html.ValidationSummary(true)</p>
    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)

    @Html.LabelFor(model => model.Password)
    @Html.PasswordFor(model => model.Password)
    <input value="Login" type="submit" />
}
